[% WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">Events</h1>
[% FOR s IN series -%]
        <h2>[% s.name %]</h2>
        <ul>
[%   FOR e IN s.events -%]
          <li><a href="/event/[% e.slug %]">[% e.description %], [% e.venue.city.name %], [% e.venue.city.country.name %]</a></li>
[%   END -%]
        </ul>
[% END -%]
[% END -%]
