[% WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">[% event.description %]</h1>
      <ul>
[% FOR p IN event.presentations -%]
        <li><a href="/talk/[% p.talk.slug %]">[% p.talk.title %]</a></li>
[% END -%]
      </ul>
[% END -%]
