[% WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">Events</h1>
[% FOR s IN series -%]
        <h2>[% s.name %]</h2>
        <ul>
[%   FOREACH e IN s.sorted_events -%]
          <li><a href="[% e.url_path %]">[% e.name_year %], [% e.location %]</a></li>
[%   END -%]
        </ul>
[% END -%]
[% END -%]
