[% WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">Events</h1>
[% FOR s IN series -%]
        <h2>[% s.name %]</h2>
        <ul>
[%   FOR e IN s.events.sort('start_date') -%]
          <li><a href="[% e.url_path %]">[% e.name_year %], [% e.venue.city.name %], [% e.venue.city.country.name %]</a></li>
[%   END -%]
        </ul>
[% END -%]
[% END -%]
