[% WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">Talks</h1>
        <ul>
[% FOR t IN talks -%]
          <li><a href="/talk/[% t.slug %]">[% t.title %]</a></li>
[%  END -%]
        </ul>
[% END -%]
