[% type = object;
   WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">Talk type: [% type.type.ucfirst %]</h1>
      <ul>
[%   FOR t IN type.talks -%]
        <li><a href="[% t.url_path %]">[% t.title %]</a></li>
[%   END -%]
      </ul>
[% END -%]
