[% WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">Talk types</h1>
      <ul>
[% FOR ty IN types.sort('title') -%]
        <h2>[% ty.type.ucfirst %]</h2>
        <ul>
[%   FOR t IN ty.talks -%]
          <li><a href="/talk/[% t.slug %]">[% t.title %]</a></li>
[%   END -%]
        </ul>
[% END -%]
      </ul>
[% END -%]
