[% WRAPPER page.tt -%]
      <h1 class="display-4 fst-italic">Years</h1>
      <ul>
[% FOR y IN years -%]
        <h2>[% y.year %]</h2>
        <ul>
[%   FOR e IN y.events -%]
          <li><a href="/event/[% e.slug %]">[% e.description %], [% e.venue.city.name %], [% e.venue.city.country.name %]</a></li>
[%   END -%]
        </ul>
[% END -%]
      </ul>
[% END -%]
